[user]
  email = bwilcox@optoro.com
  name = Brock Wilcox

[push]
  default = current

[alias]
  # Ones I actually use
  rec = "! sh -c '(git add -p -- $@ && git commit -v) || git reset' --"
  unrec = checkout --patch
  unstash = stash pop
  unstash-force = "! git stash show -p | git apply && git stash drop"
  glog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  in  = "!git remote update -p; git log ..@{u}"
  out = log @{u}..
  recent = for-each-ref --count=20 --sort=-committerdate --format='%(committerdate:short) %(refname:short)'
  up = "!git remote update -p; git merge --ff-only @{u}"

  # Rarely used, but handy
  oldest-ancestor = !zsh -c 'diff -u <(git rev-list --first-parent "${1:-master}") <(git rev-list --first-parent "${2:-HEAD}") | sed -ne \"s/^ //p\" | head -1' -

  # Onese I copied and don't use, or am practicing
  ci  = commit
  s = status -sb

  # Optoro-specific
  changelog = "!echo \"# `date +%Y-%m-%d`\" ; git log --pretty=format:'* %b' --merges --first-parent origin/master..develop ; echo"
  prettymerge = "!git merge --no-ff -m \"$(git log --pretty=format:'%h - %ci %n%s%n%b%n' --merges --first-parent master..develop)\" develop"
	diffcop = !git diffcop log -p spec/lib/product_datasources/guidance_spec.rb status --porcelain | grep M | cut -c4- | grep \"\\.rb$\" | xargs rubocop

[color]
  ui = true

[color "diff"]
	whitespace = red reverse
