# Include system wide settings which are ignored
# by default if one has their own .inputrc
$include /etc/inputrc

set bell-style none

set mark-symlinked-directories on

“\e[5~”: history-search-backward
“\e[6~”: history-search-forward
"\e[7~": beginning-of-line
"\e[8~": end-of-line

